.App {
  padding: 2rem;
  text-align: center;
}

input,
button {
  outline: none;
  border: none;
  font-size: 1rem;
  min-height: 1rem;
  padding: 5px 10px;
  box-shadow: 0 0 5px 1px #00000025;
}

button {
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}

input {
  &:focus,
  &:hover {
    box-shadow: 0 0 2px 1px #00000025;

    &::placeholder {
      font-size: 0.8rem;
    }
  }

  &::placeholder {
    font-size: 0.9rem;
    transition: font-size 0.1s ease-in;
  }
}
