@use "../../app/colors" as c;

.locations {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;

  menu {
    flex: 1 1 min-content;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;

    li {
      text-align: left;
      cursor: pointer;
      padding: 0.3rem;
      border-bottom: 1px groove c.$main-color;
      border-radius: 10px 10px 0 0 / 5px 5px 0 0;

      &:hover {
        filter: brightness(0.7);
        background-color: transparentize(c.$main-color, 0.3);
      }
    }
  }

  .map {
    flex: 1 2 auto;
    width: 80vmin;
    height: 80vmin;
    box-shadow: 0 0 3px 1px #00000024;
    resize: both;
    overflow: auto;
  }
}
