@use "../../app/colors" as c;
$map-height: 80vmin;

.locations {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: stretch;

  .map-container {
    flex: 1 0 auto;
    width: $map-height;
    height: $map-height;
    box-shadow: 0 0 3px 1px #00000024;
    resize: both;
    overflow: hidden;

    @media (orientation: landscape) {
      width: 90vmin;
    }
    @media (orientation: portrait) {
      height: 90vmin;
    }
  }

  .search-results {
    flex: 1 1 auto;
    box-shadow: inset 0 0 5px 1px c.$main-color;
    padding: 1em;
    overflow-y: auto;
    max-height: $map-height;

    figcaption {
      margin-bottom: 2em;
    }

    menu {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      grid-auto-rows: max-content;
      align-items: start;
    }

    li {
      text-align: left;
      cursor: pointer;
      padding: 1em 0.5em;
      border-bottom: 1px groove c.$main-color;
      border-radius: 10px 10px 0 0 / 5px 5px 0 0;

      &:hover,
      &.selected {
        filter: brightness(0.7);
        background-color: transparentize(c.$main-color, 0.3);
      }

      &.selected {
        filter: brightness(0.9);
      }
    }

    .arabic {
      text-align: right;
    }
  }
}
